Roboto/@font-face {
	font-family: 'Roboto';
	src: url('assets/fonts/Roboto/Roboto.eot');
	src: local('Roboto'), url('../assets/fonts/Roboto/Roboto-Regular.woff') format('woff'),
	url('../assets/fonts/Roboto/Roboto-Regular.ttf') format('truetype'),
	url('../assets/fonts/Roboto/Roboto-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

/*PALLETE*/
/* Orange: rgba(245, 118, 0, 1)
/* White:  rgba(255, 255, 255, 1)
/* Black: #000
/* Light Gray: #e7e7e7

/* GENERAL */
*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Roboto',sans-serif;
}

html, body{
	background: -moz-linear-gradient(-45deg, rgba(244, 180, 0, 1) 0%,  rgba(245, 118, 0, 1) 95%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg, rgba(244, 180, 0, 1) 0%,rgba(245, 118, 0, 1)95%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg, rgba(244, 180, 0, 1) 0%,rgba(245, 118, 0, 1) 95%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	height: 100vh;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	/*overflow-y: hidden;*/
	width: 100vw;
	color: rgba(255, 255, 255, 1);
}

h1, h2, h3,h4, h5, h6,{
	color:  rgba(255, 255, 255, 1);
	font-weight: 700;
}

article{
	height: 100vh;
	width: 100vh;
	margin-top: 0;
	padding-top: 0;
}

.hide{
	display: none;
}

.row{
	height: auto;
	margin:0;
	padding: 0;
}

.container-fluid{
	margin: 0 auto;
	overflow: hidden;
	padding: 0;
	width: 100vw;
}
/* HELPERS */

.m-0{
	margin:0px;
}

.mt-0{
	margin-top:0px;
}

.mb-0{
	margin-bottom:0px;
}

.ml-0{
	margin-left:0px;
}

.mr-0{
	margin-right:0px;
}

.m-20{
	margin:20px;
}

.mt-20{
	margin-top:20px;
}

.mb-20{
	margin-bottom:20px;
}

.ml-20{
	margin-left:20px;
}

.mr-20{
	margin-right:20px;
}

.m-40{
	margin:40px;
}

.mt-40{
	margin-top:40px;
}

.mb-40{
	margin-bottom:40px;
}

.ml-40{
	margin-left:40px;
}

.mr-40{
	margin-right:40px;
}

.pb-20{
	padding-bottom: 20px;
}

.pb-40{
	padding-bottom: 40px;
}

.text-white{
	color:  rgba(255, 255, 255, 1);
}

.text-orange{
	color: rgba(245, 118, 0, 1);
}

.text-gray{
	color: #e7e7e7;
}

.text-black{
	color: #000;
}

.bolder{
	font-weight: 700;
}

.bkg-white{
	color:  rgba(255, 255, 255, 1);
}

.bkg-orange{
	color: rgba(245, 118, 0, 1);
}

.bkg-gray{
	color: #e7e7e7;
}

.fake-hr{
	border-bottom: 2px solid rgba(224,224,224,1);
}

/* MODALS */

.modal-content, .modal-title{
	color:#000;
	font-weight: bolder;
}

.modal-close{
	background-color: transparent;
	color: rgba(245, 118, 0, 1);
	margin-right: 10px;
	margin-bottom: 20px;
}

.modal-close:hover{
	background-color: transparent;
	color: rgba(239, 108, 0, 1);
	margin-right: 10px;
	margin-bottom: 20px;
}

/*INPUTS*/
input:not([type]):focus:not([readonly]),
input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=url]:not(.browser-default):focus:not([readonly]),
input[type=time]:not(.browser-default):focus:not([readonly]),
input[type=date]:not(.browser-default):focus:not([readonly]),
input[type=datetime]:not(.browser-default):focus:not([readonly]),
input[type=datetime-local]:not(.browser-default):focus:not([readonly]),
input[type=tel]:not(.browser-default):focus:not([readonly]),
input[type=number]:not(.browser-default):focus:not([readonly]),
input[type=search]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
	border-bottom: 1px solid  rgba(0, 0, 0, 0.87);
	-webkit-box-shadow: 0 1px 0 0  rgba(0, 0, 0, 0.87);
	box-shadow: 0 1px 0 0  rgba(0, 0, 0, 0.87);
}
input:not([type]):focus:not([readonly]) + label,
input[type=text]:not(.browser-default):focus:not([readonly]) + label,
input[type=password]:not(.browser-default):focus:not([readonly]) + label,
input[type=email]:not(.browser-default):focus:not([readonly]) + label,
input[type=url]:not(.browser-default):focus:not([readonly]) + label,
input[type=time]:not(.browser-default):focus:not([readonly]) + label,
input[type=date]:not(.browser-default):focus:not([readonly]) + label,
input[type=datetime]:not(.browser-default):focus:not([readonly]) + label,
input[type=datetime-local]:not(.browser-default):focus:not([readonly]) + label,
input[type=tel]:not(.browser-default):focus:not([readonly]) + label,
input[type=number]:not(.browser-default):focus:not([readonly]) + label,
input[type=search]:not(.browser-default):focus:not([readonly]) + label,
textarea.materialize-textarea:focus:not([readonly]) + label {
	color:  rgba(245, 118, 0, 1);
}


.dropdown-content li > a, .dropdown-content li > span {
	color: #1e5799;
}


.select-wrapper input.select-dropdown{
	background-color:  rgba(245, 118, 0, 1);
	color: rgba(255, 255, 255, 1);
	font-weight: bolder;
	padding-left: 1rem;
}


.select-dropdown:active{
	background-color:  rgba(245, 118, 0, 1);
	color: rgba(255, 255, 255, 1);
	font-weight: bolder;
	padding-left: 1rem;
}

/*SPLASH*/
#splash{
	background: -moz-linear-gradient(-45deg, rgba(245, 118, 0, 1) 0%, rgba(244, 180, 0, 1) 95%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg, rgba(245, 118, 0, 1) 0%, rgba(244, 180, 0, 1) 95%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg, rgba(245, 118, 0, 1) 0%, rgba(244, 180, 0, 1) 95%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	height: 100vh;
}
#brand{
	margin-top:30vh;
}

/*MAIN*/

/*MAP*/
#map {
	border-color: 2px solid  rgba(255, 255, 255, 1);
	width: 100%;
	height: 30vh;
}

/*SEARCH*/

::-webkit-input-placeholder {
	color: rgba(0,0,0,1);
}
::-moz-placeholder {
	color: rgba(0,0,0,1);
}
:-ms-input-placeholder {
	color: rgba(0,0,0,1);
}
::placeholder {
	color: rgba(0,0,0,1);
}


#search{
	background-color:  rgba(255, 255, 255, 1);
}

#search:active{
	color: rgba(0,0,0,1);
}

#search:focus{
	background-color:  rgba(0,0,0,0.5);
	color: rgba(255, 255, 255, 1);
}

.search-btn:hover{
	background-color:  rgba(255, 255, 255, 1);
	color:  rgba(245, 118, 0, 1);
	font-weight: 700;
}
/*GALLERY*/
.card-panel{
	padding-top: 3rem;
	padding-bottom: 3rem;
}

.card-title{
	padding: 1rem auto;
	margin: 3rem auto 1rem auto;
	font-weight: 700;
	letter-spacing: 2px;
}
.card-image{
	padding: 1rem auto;
	margin: 1rem;letter-spacing: 2px;
}
.card-content{
	padding: 1rem auto 2rem auto;
	margin: 1rem auto 3rem auto;
	letter-spacing: 2px;
}

.card-content a:hover{
	color:  rgba(245, 118, 0, 1);
	text-decoration: underline;
	transform: scale(1.1);
}
/*REVIEWS*/
#sending-review{
	background-color:  rgba(245, 118, 0, 1);
	font-weight: 700;
}

#sending-review:active{
	color: rgba(0,0,0,1);
}

#sending-review:hover{
	background-color:  rgba(0,0,0,1);
	color: rgba(255, 255, 255, 1);
	font-weight: 700;
}

/*RATING*/
#average-rate{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-flow: column wrap;
	flex-flow: column wrap;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	height: 40px;
}

#average-rate li{
	display: inline-block;
	font-size: 1rem;
	color: rgba(244, 180, 0, 1);
}

.ratings {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-flow: column wrap;
	flex-flow: column wrap;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	height: 40px;
}

.ratings li {
	display: inline-block;
}

#user-star i{
	font-size: 1.5rem;
}

label {
	cursor: pointer;
}

input[type="radio"] {
	display: none;
}

.selected-star i{
	color: rgba(244, 180, 0, 1);
	-webkit-transition: color .3s ease-out;
	transition: color .3s ease-out;
	font-size: 1rem;
}

.secondary-star i{
	color: rgba(244, 180, 0, 1);
	font-size: 1rem;
}

.explosion {
	-webkit-animation: explosion 1s ease-in-out alternate;
	animation: explosion 1s ease-in-out alternate;
}

#result {
	color: rgba(245, 118, 0, 1);
	font-size: 1.5rem;
	font-weight: 700;
	text-align: center;
	display: none;
}

#user-rating-btn{
	background-color:  rgba(245, 118, 0, 1);
	font-weight: 700;
}

#user-rating-btn:active{
	color: rgba(0,0,0,1);
}

#user-rating-btn:hover{
	background-color:  rgba(0,0,0,1);
	color: rgba(255, 255, 255, 1);
	font-weight: 700;
}

@-webkit-keyframes explosion {
	0% {
		-webkit-transform: scale(0);
		-ms-transform: scale(0);
		transform: scale(0);
		opacity: 0;
		margin: 5em;
	}
	50% {
		-webkit-transform: scale(2);
		-ms-transform: scale(2);
		transform: scale(2);
		opacity: .5;
	}
	100% {
		-webkit-transform: scale(1);
		-ms-transform: scale(1);
		transform: scale(1);
		opacity: 1;
	}
}

@keyframes explosion {
	0% {
		-webkit-transform: scale(0);
		-ms-transform: scale(0);
		transform: scale(0);
		opacity: 0;
		margin: 5em;
	}
	50% {
		-webkit-transform: scale(2);
		-ms-transform: scale(2);
		transform: scale(2);
		opacity: .5;
	}
	100% {
		-webkit-transform: scale(1);
		-ms-transform: scale(1);
		transform: scale(1);
		opacity: 1;
	}
}
